/*
body
{
background-image:url('background.jpg');
background-repeat:repeat;
}
*/


@import url(http://fonts.googleapis.com/earlyaccess/'Nanum Gothic'.css);


body {
  margin: 0 !important;
}
html {
   font-size:62.5%;
}

ol {
  padding-left: 18px;
  padding-right: 18px;
}

ul {
  padding-left: 18px;
  padding-right: 18px;
}

ul.no_style {
  list-style:none;
}




div.left {
  width:220px;
  height:700px;
  margin-left:-6px;
  float: left;
  box-sizing: border-box;
  background: #ff0;
}
div.right {
  width:220px;

  margin-left:-6px;
    width: 50%;
    float: right;
    box-sizing: border-box;

    background: #0ff;
}


#copy {
    width: 380px;
	height:auto;
	position: fixed;
	margin-left: 36px;
	top: 650px;
	}

#index {
    width: 184px;
	height:auto;
	position: fixed;
	top: 36px;
	padding-left:36px;
	padding-bottom:8px;
	}

#update {
    width: 140px;
	height:auto;
	position: fixed;
	margin-left: 204px;
	top: 36px;
	}


#titles {

	}

.title_style{
  /* width: 184px; */
/* height: auto; */
/* position: fixed; */
/* top: 72px; */
/* padding-left:36px; */
/*top: 152px;
*/
  text-align: right;
  padding: 15px;

}

.title_style:hover
{
  background-color: rgba(255,255,255,1);
  border-right: 3px solid rgba(50, 50, 50, 1);
  border-bottom: 1px solid rgba(244, 244, 244, 1.0);

}
.title_style.title_cliked {
  background-color: rgba(255,255,255,1);
  border-right: 3px solid rgba(50, 50, 50, 1);
  border-bottom: 1px solid rgba(244, 244, 244, 1.0);

}
#titles2 {
    width: 200px;
	height: auto;
	position: fixed;
	margin-left: 204px;
	margin-top: 58px;
	/*
	margin-top: 90px;
	*/
	}

#titlesbox {
	border: 1px solid #FFFFFF;
	display: inline;
	}


#titlesbox_jinsung {
	border: 2px solid #FF0000;
	display: inline;
	}
#titlesbox_words_as_form {
	border: 2px solid #FF0000;
	display: inline;
	}
#titlesbox_words_as_conversation {
	border: 2px solid #FF0000;
	display: inline;
	}
#titlesbox_words_as_summary {
	border: 2px solid #FF0000;
	display: inline;
	}
#titlesbox_emotional_communication {
	border: 2px solid #FF0000;
	display: inline;
	}


#descriptionbox_title {
	width:700;
	padding-left:36px;
	padding-right:36px;
	height:auto;
border-bottom:1px solid #ebebeb;
}

#descriptionbox {
	width:700;
	height:auto;
	padding-bottom:6px;

}

#contentsbox {
	padding-top:12px;
	padding-bottom:6px;
	width:800;
	height:auto;
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	-moz-column-gap:24px; /* Firefox */
	-webkit-column-gap:24px; /* Safari and Chrome */
	column-gap:24px;
	border-top:1px solid #ebebeb;
	border-bottom:1px solid #ebebeb;
}

#jinsung {
	/* width: 700px;
	height:auto;
	margin-left: 250px;
	margin-top: 72px;
	padding: 24px;
-moz-box-shadow: 0 0 15px #dcdcdc;
-webkit-box-shadow: 0 0 15px #dcdcdc;
box-shadow: 0 0 15px #dcdcdc;
	background-color:#FFF; */
}







/*
@font-face
{
font-family: Azuro-Italic;
src: 	url('azuro-italic.eot') format('eot'),
		url('azuro-italic.woff') format('woff');
}

@font-face
{
font-family: Azuro-BoldItalic;
src: 	url('azuro-bolditalic.eot') format('eot'),
		url('azuro-bolditalic.woff') format('woff');
}

@font-face
{
font-family: Azuro-Bold;
src: 	url('azuro-bold.eot') format('eot'),
		url('azuro-bold.woff') format('woff');
}

@font-face
{
font-family: Azuro-Regular;
src: 	url('azuro-regular.eot') format('eot'),
		url('azuro-regular.woff') format('woff');
} */


div
{
/* font-family:sans-serif; */
/* letter-spacing:0px; */
}
#top_bar {



}

.top_bar_style{
  width:100%;
  /* height:30px; */
  position:fixed;
  /* margin-top:-72px; */
  /* margin-left:-6px; */
  background-color:rgba(252,252,252,1);
  padding-left:36px;
  padding-top:14px;
  padding-bottom:14px;
  border-bottom: 1px solid rgba(244, 244, 244, 1.0);

  /* box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.9); */
}

#index_box {

}

.index_box_style{

  /* width:20%;
  float: left;
  box-sizing: border-box;
  margin-top: 52px;
  width:200px; */
  /* float: left; */
  /* box-sizing: border-box; */
  width:200px;
  margin-top: 52px;
  position: fixed;

}

.main_box_style{
  /* width: 80%;
  height:auto;
  margin-top: 52px;
  float: left; */
  width: 800px;
  box-sizing: border-box;
  padding-top: 52px;
  margin-left: 200px;

  /* position: fixed; */
}

#main_box {

}

.project {
  height:auto;
  width: 100%;
  padding: 15px;
  /* margin-left: 250px; */
  margin-bottom: 20px;

  /* -moz-box-shadow: 0 0 15px #dcdcdc;
  -webkit-box-shadow: 0 0 15px #dcdcdc;
  box-shadow: 0 0 15px #dcdcdc; */
  background-color:#FFF;

  }

.jinsungkim {
	font-size: 1.5rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color: #585858;
	text-align:left;
}


.jinsungkim_normal {
	font-size: 1.2rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color: #999;
	text-align:left;
}

.contact_normal {
	font-size: 1.0rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color: #003876;
	text-align:left;
	line-height:100%;
}

.type_normal {
	font-size: 1.0rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color: #585858;
	text-align:left;
	line-height:100%;
}


.title_normal {
	font-size: 1.4rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color: #000;
	/* text-align:left; */
	line-height:100%;
}



.title_update_normal {
	font-size: 1.0rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color: #585858;
	text-align:left;
	line-height:100%;
}

.copyright_normal {
	font-size: 1.0rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color: #999;
	text-align:left;
	line-height:100%;
}


.names_normal {
	font-size: 1.2rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#999;
	text-align:left;
}

.copyright_normal {
	font-size: 1.2rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#777;
	text-align:left;
}
.description_normal.main_title{
  color: rgb(100, 100, 100);
  font-weight: bold;

}

.description_normal {
	font-size: 20px;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#434343;
	text-align:left;
}

.description_title_normal {
	font-size: 1.3rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#434343;
	text-align:left;
}

.resume_normal {
	font-size: 1.2rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#FF0000;
	text-align:left;
	text-decoration:underline;

}
.contents {
  font-size: 1.0rem;
  font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
  color:#003876;
  text-align:left;
}
.contents.contents_title {
  font-size: 1.5rem;
  color:#585858;
  border-bottom: 1px solid #ebebeb;
}

.contents_normal {
	font-size: 1.3rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#585858;
	text-align:left;
	line-height:150%;


}

.update_normal {
	font-size: 1.0rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#003876;
	text-align:left;

}

.collab_normal {
	font-size: 1.3rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#003876;
	text-align:left;

}
.email_normal {
	font-size: 1.3rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#003876;
	text-align:left;
	/*text-decoration:underline;*/

}

.info_normal {
	font-size: 1.3rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#585858;
	text-align:left;

}

.info_normal1 {
	font-size: 1.3rem;
	font-family: 'Nanum Gothic', apple sd gothic neo, sans-serif;
	color:#585858;
	text-align:center;

}


.menu_highlight {
	border-bottom: 1px solid #003876;

	/*background-color:#FFF;*/
	/*margin-left:3px;*/
	/*-webkit-box-shadow: 2px 2px 2px #ccc;*/  /* Safari and Chrome */
    /*-moz-box-shadow: 2px 2px 2px #ccc;*/  /* Firefox */
	/*box-shadow: 2px 2px 2px #ccc;*/
	/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#ccc, Direction=45, Strength=10); */
}

a:link {
	text-decoration: none;
	color:#003876;

}
a:visited {
	text-decoration: none;
	color: #003876;
}
a:hover {
	text-decoration: none;
	background-color: rgba(199, 200, 202, 0.9);
	border-bottom: 1px solid #003876;
}
a:active {
	text-decoration: none;
	color: #003876;
}


}
